<div class="email-composer pad40">
        <div class="widget-title2">
            <h4>Add General Expenses</h4>
            <a 
            ui-sref="app.project.view({
                    id: projectCase, 
                    start_date: projectStarts, 
                    end_date: projectEnds
                })" 
            class="btn btn-sm btn-danger float-right">
            <i class="fas fa-times"></i> Close</a>
        </div>
        
        <form class="form-wrp mt-2" name="projectForm" ng-submit="addgenExpenses()" ng-repeat="(employee, $index) in expensesForm">
                <fieldset>
                    <div class="row mrg20">
                        <div 
                            class="col-md-4 col-sm-4 col-lg-4" 
                            format="YYYY-MM-DD" 
                            start-view="decade" 
                            moment-picker="expensesForm[$index].date"
                        >
                            <input 
                                class="brd-rd5 validate[required]" 
                                name="date" 
                                id="date" 
                                type="text" 
                                ng-model="expensesForm[$index].date" 
                                placeholder="Date*" 
                                ng-model-options="{ updateOn: 'blur' }" 
                            />
                            <span class="error-box"></span>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <input 
                                class="brd-rd5 validate[required]" 
                                name="case-number" 
                                id="case-number" 
                                type="number" 
                                ng-model="expensesForm[$index].amount" 
                                placeholder="Amount*" 
                            />
                            <span class="error-box"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4">
                                <input 
                                    class="brd-rd5 validate[required]" 
                                    name="case-number" 
                                    id="case-number" 
                                    type="number" 
                                    ng-model="expensesForm[$index].vat" 
                                    placeholder="Vat*" 
                                />
                                <span class="error-box"></span>
                        </div>
                        
                      </div>
                      <div class="row mrg20">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <textarea 
                                class="brd-rd5 validate[required]" 
                                name="description" 
                                id="description" 
                                ng-model="expensesForm[$index].description" 
                                placeholder="Description*" 
                            />
                            <span class="error-box"></span>
                        </div>
                        
                      </div>
                    
                  <button type="submit" class="btn btn-primary float-right">Save Expenses</button>
                </fieldset>
            </form>
    </div>