<div class="email-composer pad40">
        <div class="widget-title2">
            <h4>Personell</h4>
            <span>Last edit: 15.01.2019</span>
        </div>
        <table class="table table-hover">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Employee</th>
                  <th>Professional time <small class="d-block">hrs</small></th>
                  <th>
                    Salary
                  </th>
                  <th>
                    Vat
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="person in personnel">
                  <th scope="row">{{ personnel.indexOf(person) + 1 }}</th>
                  <td>{{ person.name }}</td>
                  <td>{{ person.total_work_hours }}</td>
                  <td>
                    {{ person .salary | currency:"€" }}
                  </td>
                  <td>
                    {{ person.vat | currency:"€" }}
                  </td>
              </tr>
          </tbody>
      </table>

      <div class="widget-title2 mt-5">
          <h4>General Expenses</h4>
          <span>Last edit: 15.01.2019</span>
      </div>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Date <small class="d-block">hrs</small></th>
                  <th>Description</th>
                  
                  <th>
                    Cost
                  </th>
                  <th>
                    Vat
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="expense in generalExpenses">
                  <th scope="row">{{ generalExpenses.indexOf(expense) + 1 }}</th>
                  <td>{{ expense.date | amUtc | amDateFormat:'DD-MM-YYYY' }}</td>
                  <td>{{ expense.description }}</td>
                  <td>
                    {{ expense.amount | currency:"€" }}
                  </td>
                  <td>
                    {{ expense.vat | currency:"€"  }}
                  </td>
              </tr>
          </tbody>
      </table>
    </div>

