<div class="email-composer pad40">
        <div class="widget-title2">
            <h4>Personell</h4>
            <span>Last edit: 15.01.2019</span>
        </div>
        <table class="table table-hover">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Employee</th>
                  <th>Professional time <small class="d-block">hrs</small></th>
                  <th>Travel</th>
                  <th>
                    Expenses
                  </th>
                  <th>
                    Other costs
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <th scope="row">1</th>
                  <td>Mark Otto</td>
                  <td>320</td>
                  <td><span class="green-bg badge mr-1">Malta</span> <span class="blue-bg badge">Belgium</span></td>
                  <td>
                    € 2000,00
                  </td>
                  <td>
                    € 500,00
                  </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Giorgos Papadopoulos</td>
                <td>320</td>
                <td><span class="green-bg badge mr-1">Cyprus</span> <span class="blue-bg badge">United Kingdom</span></td>
                <td>
                  € 2000,00
                </td>
                <td>
                  € 500,00
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Jerome Beanouit</td>
                <td>100</td>
                <td>---</td>
                <td>
                  € 1000,00
                </td>
                <td>
                  € 0,00
                </td>
              </tr>
          </tbody>
      </table>
    </div>