<div class="row grid-wrap mrg20">
  <div class="col-md-6 grid-item col-sm-12 col-lg-6">
    <div class="row mrg20">
      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="stat-box widget bg-clr5 style2">
          <i class="fas fa-chart-line"></i>
          <div class="stat-box-innr">
            <span>€ <i class="counter">1,457.850</i></span>
            <h5>Total Revenue</h5>
          </div>
          <span><i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="stat-box widget bg-clr6 style2">

          <i class="fas fa-euro-sign"></i>
          <div class="stat-box-innr">
            <span>€ <i class="counter">205.507</i></span>
            <h5>Expenses</h5>
          </div>
          <span><i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="stat-box widget bg-clr7 style2">
          <i class="fas fa-clipboard-list"></i>
          <div class="stat-box-innr">
            <span><i class="counter">79</i></span>
            <h5>Active Projects</h5>
          </div>
          <span><i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="stat-box widget bg-clr8 style2">
          <i class="fas fa-clock"></i>
          <div class="stat-box-innr">
            <span><i class="counter">534.756</i></span>
            <h5>Manhours count</h5>
          </div>
          <span><i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-item col-sm-12 col-lg-6">
    <div class="widget sales-summ pad50-40">
      <h4 class="widget-title">Total Projects</h4>
      <div id="chrt1" style="height: 260px;"></div>
    </div>
  </div>
  <div class="col-md-12 grid-item col-sm-12 col-lg-12">
    <div class="widget prd-wdgt pad50-40">
      <div class="table-wrap">
        <table class="table style2 style3">
          <thead class="table-inverse">
            <tr>
              <th><span>#</span></th>
              <th><span>Project</span></th>
              <th><span>Company</span></th>
              <th><span>Start Date</span></th>
              <th><span>ETA</span></th>
              <th><span>Status</span></th>
              <th><span>Cost</span></th>
              <th><span>Assignees</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="blue-bg indx">01</span></td>
              <td>
                <h4>Project #1</h4>
              </td>
              <td>
                <h4><a href="#" title="">Epsilon Malta</a></h4>
              </td>
              <td><span>10 January 2019</span></td>
              <td><span>10 June 2019</span></td>
              <td><span class="badge badge-success brd-rd5">Pending</span></td>
              <td><span class="prc">€2.009.998</span></td>
              <td><span>01</span></td>
            </tr>
            <tr>
              <td><span class="blue-bg indx">02</span></td>
              <td>
                <h4>Project #2</h4>
              </td>
              <td>
                <h4><a href="#" title="">Epsilon</a></h4>
              </td>
              <td><span>19 December 2018</span></td>
              <td><span>15 June 2017</span></td>
              <td><span class="badge badge-info brd-rd5">Process</span></td>
              <td><span class="prc">€269.998</span></td>
              <td><span>03</span></td>
            </tr>
            <tr>
              <td><span class="blue-bg indx">03</span></td>
              <td>
                <h4>Project #3</h4>
              </td>
              <td>
                <h4><a href="#" title="">Epsilon Cyprus</a></h4>
              </td>
              <td><span>04 May 2019</span></td>
              <td><span>19 December 2019</span></td>
              <td><span class="badge badge-warning brd-rd5">Failed</span></td>
              <td><span class="prc">€109.500</span></td>
              <td><span>01</span></td>
            </tr>
            <tr>
              <td><span class="blue-bg indx">04</span></td>
              <td>
                <h4>Project #4</h4>
              </td>
              <td>
                <h4><a href="#" title="">Epsilon Malta</a></h4>
              </td>
              <td><span>9 January 2019</span></td>
              <td><span>20 September 2020</span></td>
              <td><span class="badge badge-info brd-rd5">Process</span></td>
              <td><span class="prc">€4.119.000</span></td>
              <td><span>03</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div><!-- Filter Items -->
