<div class="row">
  <div class="col-12">
    <div class="float-right mr-3">
      <a ui-sref="app.project.new" class="btn btn-sm btn-info brd-rd5"><i class="fas fa-plus"></i> Create new</a>
    </div>
  </div>
</div>
<div class="panel-content">
  <div class="widget chat-wdgt pad50-40">
    <h4 class="widget-title blue-bg">Users List
      <span class="float-right">
        <md-button 
          class="md-icon-button w-100" 
          ng-click="filter.show = !filter.show" 
          aria-label="filter_list"
        >
          <md-icon md-font-icon="fas fa-ellipsis-v fa-lg color-white"></md-icon>
        </md-button>
      </span>
    </h4>
    <div class="caht-wrp">
      <div class="chat-lst w-100">

        <!-- Hidden Toolbar for search -->
        <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show" aria-hidden="false" style="">
          <div class="md-toolbar-tools">

            <form name="filter.form" class="ng-pristine ng-valid flex">
              <md-input-container class="w-100">
                <input ng-model="filter.search" ng-model-options="filter.options" placeholder="Search..." class="ng-pristine ng-untouched ng-valid" aria-invalid="false" type="text">
              </md-input-container>
            </form>
            <md-button class="md-icon-button" ng-click="removeFilter();" aria-label="close">
              <md-icon md-font-icon="fas fa-times fa-lg"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <!-- end of hidden toolbar-->

        <md-table-container>
          <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selectedItems" md-progress="promise" class="table table-hover">
            <thead md-head md-order="query.order">
              <tr md-row>
                <th md-column md-order-by="uid"><span>User ID</span></th>
                <th md-column md-order-by="name"><span>Name</span></th>
                <th md-column><span>Type</span></th>
                <th md-column md-order-by="email"><span>Email</span></th>
                <th md-column md-order-by="phone"><span>Phone</span></th>
                <th md-column md-order-by="created"><span>Since</span></th>
                <th md-column>
                  <span>Projects</span>
                </th>
              </tr>
            </thead>
            <tbody md-body>
              <tr 
                md-row 
                ng-class="{'active-table-row': values.active}" 
                md-select="value" 
                md-on-select="selectedItem" 
                md-on-deselect="unselectItem" 
                md-auto-select="options.autoSelect" 
                ng-repeat="value in users | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit track by $index"
              >
                <td md-cell>{{ value.uid }}</td>
                <td md-cell>{{ value.name }}</td>
                <td md-cell>{{ value.type }}</td>
                <td md-cell>{{ value.email }}</td>
                <td md-cell>{{ value.phone }}</td>
                <td md-cell>{{ value.created | amUtc | amDateFormat:'DD.MM.YYYY' }}</td>
                <td md-cell>
                  <md-chips 
                    ng-model="value.projects" 
                    readonly="chips.readonly" 
                    md-removable="chips.removable" 
                    md-enable-chip-edit="chips.enable_edit"  
                    md-on-remove="removeEmployee($chip, $index, $event, value.uid, $chip.case_number)"
                  >
                  <md-chip-template class="d-block">
                    <span>
                        <strong>{{ $chip.full_project_name }}</strong>
                    </span>
                  </md-chip-template>
                </md-chips>
                </td>
              </tr>
            </tbody>
            <caption class="small text-muted">Last update: <span am-time-ago="now.time | amParse:'YYYY.MM.DD HH:mm:ss'"></span></caption>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{ users.length }}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></md-table-pagination>

        <div class="row">
          <div class="col">
            <md-select ng-model="optionValue" placeholder="Select Action" class="md-no-underline" ng-disabled="selectedUsers.length <= 0" ng-change="optionsUsers(optionValue)">
              <md-option value="disable">Disable User</md-option>
              <md-option value="add_project">Add to Project</md-option>
            </md-select>
          </div>

          <div class="col" 
            ng-controller="searchProjCtrl as $ctrl" 
            ng-if="enable_second_menu">
            <md-select 
              required 
              name="field" 
              ng-model="$ctrl.selected" 
              data-md-container-class="selectdemoSelectHeader" 
              placeholder="Select Project" 
              ng-change="$ctrl.emitEvent()"
            >
              <md-select-header layout="column" class="demo-select-header">
                <md-input-container class="w-100">
                  <input 
                    ng-model="$ctrl.searchTerm" 
                    type="search" 
                    placeholder="Search..." 
                    class="demo-header-searchbox md-text" 
                  />
                </md-input-container>
              </md-select-header>
              <md-optgroup>
                <md-option 
                  ng-value="item" 
                  ng-repeat="item in $ctrl.availableItems | filter: $ctrl.searchTerm | limitTo:3"
                > 
                {{ item.full_project_name }}
                </md-option>
              </md-optgroup>
            </md-select>
          </div>

          <div class="col">
            <button class="btn btn-default btn-sm" ng-click="submitbtn()">Go</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- Panel Content -->
